<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TaskTime</key>
	<array>
		<string>1 minute</string>
		<string>2 minutes</string>
		<string>3 minutes</string>
		<string>4 minutes</string>
		<string>5 minutes</string>
		<string>6 minutes</string>
		<string>7 minutes</string>
		<string>8 minutes</string>
		<string>9 minutes</string>
		<string>10 minutes</string>
		<string>11 minutes</string>
		<string>12 minutes</string>
		<string>13 minutes</string>
		<string>14 minutes</string>
		<string>15 minutes</string>
		<string>16 minutes</string>
		<string>17 minutes</string>
		<string>18 minutes</string>
		<string>19 minutes</string>
		<string>20 minutes</string>
		<string>25 minutes</string>
		<string>30 minutes</string>
		<string>35 minutes</string>
		<string>40 minutes</string>
		<string>45 minutes</string>
		<string>50 minutes</string>
		<string>55 minutes</string>
		<string>60 minutes</string>
		<string>65 minutes</string>
		<string>70 minutes</string>
		<string>75 minutes</string>
		<string>80 minutes</string>
		<string>85 minutes</string>
		<string>90 minutes</string>
	</array>
	<key>ShortBreakTime</key>
	<array>
		<string>1 minute</string>
		<string>2 minutes</string>
		<string>3 minutes</string>
		<string>4 minutes</string>
		<string>5 minutes</string>
		<string>6 minutes</string>
		<string>7 minutes</string>
		<string>8 minutes</string>
		<string>9 minutes</string>
		<string>10 minutes</string>
		<string>11 minutes</string>
		<string>12 minutes</string>
		<string>13 minutes</string>
		<string>14 minutes</string>
		<string>15 minutes</string>
		<string>16 minutes</string>
		<string>17 minutes</string>
		<string>18 minutes</string>
		<string>19 minutes</string>
		<string>20 minutes</string>
		<string>25 minutes</string>
		<string>30 minutes</string>
		<string>35 minutes</string>
		<string>40 minutes</string>
		<string>45 minutes</string>
		<string>50 minutes</string>
		<string>55 minutes</string>
		<string>60 minutes</string>
	</array>
	<key>LongBreakTime</key>
	<array>
		<string>1 minute</string>
		<string>2 minutes</string>
		<string>3 minutes</string>
		<string>4 minutes</string>
		<string>5 minutes</string>
		<string>6 minutes</string>
		<string>7 minutes</string>
		<string>8 minutes</string>
		<string>9 minutes</string>
		<string>10 minutes</string>
		<string>11 minutes</string>
		<string>12 minutes</string>
		<string>13 minutes</string>
		<string>14 minutes</string>
		<string>15 minutes</string>
		<string>16 minutes</string>
		<string>17 minutes</string>
		<string>18 minutes</string>
		<string>19 minutes</string>
		<string>20 minutes</string>
		<string>25 minutes</string>
		<string>30 minutes</string>
		<string>35 minutes</string>
		<string>40 minutes</string>
		<string>45 minutes</string>
		<string>50 minutes</string>
		<string>55 minutes</string>
		<string>60 minutes</string>
		<string>65 minutes</string>
		<string>70 minutes</string>
		<string>75 minutes</string>
		<string>80 minutes</string>
		<string>85 minutes</string>
		<string>90 minutes</string>
	</array>
	<key>LongBreakDelay</key>
	<array>
		<string>1 task</string>
		<string>2 tasks</string>
		<string>3 tasks</string>
		<string>4 tasks</string>
		<string>5 tasks</string>
		<string>6 tasks</string>
		<string>7 tasks</string>
		<string>8 tasks</string>
		<string>9 tasks</string>
		<string>10 tasks</string>
		<string>11 tasks</string>
		<string>12 tasks</string>
		<string>13 tasks</string>
		<string>14 tasks</string>
		<string>15 tasks</string>
		<string>16 tasks</string>
		<string>17 tasks</string>
		<string>18 tasks</string>
		<string>19 tasks</string>
		<string>20 tasks</string>
	</array>
	<key>RepeatCount</key>
	<array>
		<string>2 times</string>
		<string>3 times</string>
		<string>4 times</string>
		<string>5 times</string>
		<string>6 times</string>
		<string>7 times</string>
		<string>8 times</string>
		<string>9 times</string>
		<string>10 times</string>
		<string>11 times</string>
		<string>12 times</string>
		<string>13 times</string>
		<string>14 times</string>
		<string>15 times</string>
		<string>16 times</string>
		<string>17 times</string>
		<string>18 times</string>
		<string>19 times</string>
		<string>20 times</string>
		<string>21 times</string>
		<string>22 times</string>
		<string>23 times</string>
		<string>24 times</string>
		<string>25 times</string>
		<string>26 times</string>
		<string>27 times</string>
		<string>28 times</string>
		<string>29 times</string>
		<string>30 times</string>
	</array>
</dict>
</plist>
